[submodule "array-io-core"]
	path = array-io-core
	url = git@github.com:arrayio/array-io-core.git
[submodule "libraries/secp256k1"]
	path = libraries/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "libraries/eth-crypto"]
	path = libraries/eth-crypto
	url = git@github.com:arrayio/eth-crypto.git
[submodule "libraries/kaitai_struct_cpp_stl_runtime"]
	path = libraries/kaitai_struct_cpp_stl_runtime
	url = git@github.com:kaitai-io/kaitai_struct_cpp_stl_runtime.git
