<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- Set product information -->
   <Product Id="*" UpgradeCode="{46840884-EDE8-4425-B0E9-6EEECE8C1E9F}" 	 
			Name="WSKeychain Services" Language="1033" Version="1.0.0.2" 
			Manufacturer="Array.IO">
	
	<!-- Set package and media information -->
    <Package Description="pak" InstallerVersion="400" Compressed="yes" Platform = "x64" InstallScope="perMachine"/>
    <Media Id="1" Cabinet="setup.cab" EmbedCab="yes" />
	
	<!-- Override root install directory path -->
	<SetDirectory Id="RootInstallDrive" Value="C:\Program Files" />
	
	<!-- Fragment of sources to install -->
    <Directory Id="TARGETDIR" Name="SourceDir">
		<Directory Id="RootInstallDrive">
			<Directory Id="INSTALLLOCATION" Name="WSKeychain">
				<Component Id="Component1" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E9A}">
					<File Id="File0" Name="websocketwrapper.exe" Source="websocketwrapper.exe" />
				</Component>
				<Component Id="Component2" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E9B}">
					<File Id="File1" Name="servicewrapper.exe" Source="servicewrapper.exe" />
				</Component>
				<Component Id="Component3" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E9C}">
					<File Id="File2" Name="servicewrapper.xml" Source="servicewrapper.xml" />
				</Component>
				<Component Id="Component4" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E9D}">
					<File Id="File3" Name="wsservicerunner.bat" Source="wsservicerunner.bat" />
				</Component>
				<Component Id="Component5" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E9E}">
					<File Id="File4" Name="delete_wsservice.bat" Source="delete_wsservice.bat" />
				</Component>
				<Component Id="Component6" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E91}">
					<File Id="File5" Name="wsservice_manager.bat" Source="wsservice_manager.bat" />
				</Component>
				<Component Id="Component7" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E92}">
					<File Id="File6" Name="keychain.exe" Source="keychain.exe" />
				</Component>
				<Component Id="Component8" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E93}">
					<File Id="File7" Name="keychain_win_gui.exe" Source="keychain_win_gui.exe" />
				</Component>
				<Component Id="Component9" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E94}">
					<File Id="File8" Name="keychainrunner.bat" Source="keychainrunner.bat" />
				</Component>
				<Directory Id="DemoComponents" Name="Demo">
					<Component Id="Component10" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E95}">
					<File Id="File9" Name="index.html" Source="demo\index.html" />
					</Component>
					<Component Id="Component11" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E96}">
					<File Id="File10" Name="logo.png" Source="demo\logo.png" />
					<CreateFolder/>
					</Component>
					<Component Id="Component12" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E97}">
						<File Id="File11" Name="spectre.min.css" Source="demo\spectre.min.css" />
					<CreateFolder/>
					</Component>
				</Directory>
				<Component Id="Component13" DiskId="1" Guid="{46840884-EDE8-4425-B0E9-6EEECE8C1E98}">
					<File Id="File12" Name="libcrypto-1_1-x64.dll" Source="libcrypto-1_1-x64.dll" />
				</Component>				
			</Directory>
		</Directory>
    </Directory>
	
	<!-- Install directory source text override -->
	<Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
	<UIRef Id="WixUI_InstallDir" />
	
	<!-- Set custom icons and images in dialogs -->
	<WixVariable Id="WixUIBannerBmp" Value="keychain_banner.jpg" />
	<WixVariable Id="WixUIDialogBmp" Value="keychain_dialog_banner.jpg" /> 
	<WixVariable Id="WixUIExclamationIco" Value="keychain_logo_maximal.ico" />
	<WixVariable Id="WixUIInfoIco" Value="keychain_logo_maximal.ico" />
	<WixVariable Id="WixUINewIco" Value="keychain_logo_minimal.ico" />
	<WixVariable Id="WixUIUpIco" Value="keychain_logo_minimal.ico" />
	
	<!-- License source text override -->
	<WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

	<!-- Group components as components referencies -->
    <Feature Id="InstallFeature" Title="Install Feature" Level="1">
        <ComponentRef Id="Component1" />
		<ComponentRef Id="Component2" />
		<ComponentRef Id="Component3" />
		<ComponentRef Id="Component4" />
		<ComponentRef Id="Component5" />
		<ComponentRef Id="Component6" />
		<ComponentRef Id="Component7" />
		<ComponentRef Id="Component8" />
		<ComponentRef Id="Component9" />
		<ComponentRef Id="Component10" />
		<ComponentRef Id="Component11" />
		<ComponentRef Id="Component12" />
		<ComponentRef Id="Component13" />
    </Feature>
	
    <!-- Global Run Action -->
    <CustomAction Id="RunWrapExe" Return="ignore" Execute="deferred" 
                  FileKey="File0" ExeCommand="setup.exe param here"  
                  HideTarget="no" Impersonate="no" />
				  			  
	<!-- Additional action after installation -->			  
	<CustomAction Id="RunBat" Directory="INSTALLLOCATION"
	ExeCommand='"[INSTALLLOCATION]wsservice_manager.BAT"'
    Execute="deferred" Impersonate="no" Return="check"/>
	
	<!-- Additional action after uninstall -->	
	<CustomAction Id="BeforeUninstallService" Directory="INSTALLLOCATION"
    ExeCommand='"[INSTALLLOCATION]delete_wsservice.BAT"'
    Execute="deferred" Impersonate="no" Return="check"/>

	<!-- Overall install & uninstall actions execution block -->	
    <InstallExecuteSequence>
        <Custom Action="RunWrapExe" After="InstallFiles">NOT REMOVE~="ALL"</Custom>
		<Custom Action="RunBat" Before="InstallFinalize">NOT (REMOVE~="ALL")</Custom>
		<Custom Action="BeforeUninstallService" After="InstallInitialize">REMOVE="ALL"</Custom>
    </InstallExecuteSequence>

   </Product>
</Wix>